.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
    }

    .dark-mode-boton {
        width: 3rem;
        margin: 2rem 0;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin: 0 3rem 0 0;
        }
        
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s ease-in-out, opacity .5s linear, height .5s linear;

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a {
        color: $blanco;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 2rem;
            
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

// Menu de hamburguesa

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}