.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }

    &.upadte {
        background-color: $amarillo;
    }

    
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    text-align: center;

    thead {
        background-color: $grisOscuro;

        th {
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla {
        width: 15rem;
        margin: 0 auto;
    }
}

.imagen-actualizar {
    width: 30rem;
}